<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>
<body>

  <!-- Main navigation -->
<header>
  <!--Navbar-->
  <%- include('layouts/navBar') -%>
  <!-- Navbar -->
</header>
<!-- Main navigation -->

    <!-- Full Page Intro -->
    <%- include('components/newPost') -%>
    <!-- Full Page Intro -->

  <!--Footer-->
  <%- include('layouts/footer') -%>
  <!--Footer-->

  <!--Scripts-->
  <%- include('layouts/scripts') -%>
  <!--Scripts-->
</body>
</html>